---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/pln1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-02-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pln1",
          "object": "plan",
          "amount": 100,
          "created": 1492055776,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 16 Apr 2017 19:18:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/pln2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-02-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pln2",
          "object": "plan",
          "amount": 100,
          "created": 1492055777,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Other Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 16 Apr 2017 19:18:38 GMT
recorded_with: VCR 3.0.3
