!!!
%html{ lang: 'en' }
  %head
    = render partial: 'layouts/shared/head'
  %body
    = render partial: 'layouts/shared/nav'
    .container-fluid
      .main-content
        - flash_messages
        .row
          .col-md-3.offset-md-1
            = render partial: 'layouts/account/sidebar'
          .col-md-6
            = yield
