!!!
%html{ lang: 'en' }
  %head
    = render partial: 'layouts/shared/head'
  %body
    = render partial: 'layouts/shared/nav'
    .container-fluid
      .main-content.main.another_class
        - flash_messages
        = yield
